<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%p [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>
    
    <appender name="APPLOGFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/opt/ais/app/jboss/wstax/log/wstax-admin.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="3072KB" />
		<param name="MaxBackupIndex" value="20" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{DATE} %-5p %-15c{1}: %m%n" />
		</layout>
	</appender>
    
    <logger name="com.crabapple.utils">
        <level value="DEBUG"/>
    </logger>
    
    <logger name="org.apache">
        <level value="ERROR"/>
    </logger>

    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>
   
    <logger name="org.appfuse">
        <level value="ERROR"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <!-- <appender-ref ref="APPLOGFILE" /> -->
    </root>

</log4j:configuration>
