<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>pages/register.jsp</welcome-file>
	</welcome-file-list>

	<!-- Servlet3.0 可以直接通过注解实现url映射配置, 此段配置不再需要 -->
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>com.crabapple.web.controller.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<!-- servlet过滤的路径，也就是你在jsp中访问servlet时应该在action中填写的东西 -->
		<url-pattern>/register2</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
</web-app>  